<ion-content class="overlay">
	<header>
		<button class="white red-bg back-btn" (click)="exit()">back</button>
	Spending History</header>
	<ion-card *ngFor="let trimBy of trimmedBudget; let i = index">
		<ion-card-header class="purple-bg"><strong class="white">{{ convertDate(trimBy.date) }}</strong></ion-card-header>
			<ion-list>
				<ion-item *ngIf="trimBy.spent.length <= 0">
					<ion-icon name="cash" class="green"></ion-icon>
					<strong class="purple"> No Transactions This Day!</strong>
				</ion-item>
				<ion-item *ngFor="let spent of trimBy.spent; let j = index">
					<div *ngIf="trimBy.spent.length > 0">
						<strong class="price purple">
							${{spent.amount | number: '1.2-2'}} 
						</strong>
						<strong class="green">
							{{ spent.transName }}
						</strong>
						<button ion-button class="right red-bg" (click)="refund(i, j)">
							Refund
						</button>
					</div>
			    </ion-item>
			    <ion-item>
			    	<strong class="price purple">Daily Debt: </strong><strong class="green">${{-_bp.getDebt(i) | number: '1.2-2'}}</strong>
			    	<button ion-button class="right green-bg" (click)="payDebt(i)" [disabled]="budget[this._bp.getActiveBudget()].amount - spent(this._bp.getActiveBudget()) < 0 && -_bp.getDebt(i) > 0">Pay Debt</button>
			    </ion-item>
			    <p class="red padding" *ngIf="budget[this._bp.getActiveBudget()].amount - spent(this._bp.getActiveBudget()) < 0 && -_bp.getDebt(i) > 0">Use another day to pay this debt!</p>
			</ion-list>
	</ion-card>
	<ion-card>
		<div class="center">
			<span class="purple">Total amount spent: </span><strong class="green">${{ totalSpent | number: '1.2-2' }}</strong>
		</div>
		<div class="center">
			<span class="purple">Total budget: </span><strong class="green">${{ totalBudget | number: '1.2-2' }}</strong>
		</div>
		<div class="center">
			<span class="purple">Total Left: </span><strong class="green" [ngClass]="{'red': ((totalBudget - totalSpent) < 0)}">${{ totalBudget - totalSpent | number: '1.2-2' }}</strong>
		</div>
	</ion-card>
</ion-content>