history-modal {

	.center {
		position: relative;
		top: 10vh;
		font-family: $font;
		text-align: center;
	}

	.price {
		width: 30%;
		height: 100%;
		font-size: 20px;
	}

	ion-card {
		position: relative;
		top: 10vh;
		font-family: $font;
	}

	ion-label {
		padding: 0px 0px 0px 10px;
		margin-right: 0 !important;
	}

	.right {
		float: right;
	}

	header {
		position: fixed;
		background-color: $purple;
		box-shadow: $box-shadow;
		font-family: $font;
		font-size: 22px;
		padding: 15px;
		color: white;
		border-left: 5px solid $green;
		z-index: 9999;
		width: 100%;
	}

	.back-btn {
		position: absolute;
		top: 17px;
		right: 3vw;
		padding: 5px;
		border-radius: 5px;
		box-shadow: $box-shadow;
		float: left;
	}

	.overlay {
		background: $background no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	}

	ion-item {
		padding: 0 !important;
		border-bottom: 1px solid #ded !important;
	}
}
