<div class="wrapper">
	<div class="title-container">
		<strong class="day">{{ day }}</strong>
		<span class="date">{{ date }}</span>
	</div>
	<div class="container" [ngClass]="{'opaque': disabledAll}">
		<div class="title z2 inline">Today's Budget</div>
		<div class="dailybudget-container center z1">
			
			<strong class="purple big">${{ amount | number: '1.2-2'}}</strong>
		</div>
		<div class="inline break">
			<span class="z2" [ngClass]="{'inactive': !active[0], 'title': !active[0], 'title-inverse': active[0]}" (click)="activateTab(0)">Spend</span>
			<div class="z2" [ngClass]="{'inactive': !active[1], 'title': !active[1], 'title-inverse': active[1]}" (click)="activateTab(1)">Bank</div>
		</div>
		<div class="dailybudget-container z1">
			<div *ngIf="active[0]">
				<span class="green small left-align">Transaction:</span>
				<div class="line"></div>
				<div class="inputs">
						<ion-label stacked>Name:<span class="red">*</span></ion-label>
						<input type="text" [(ngModel)]="transName" [placeholder]="placeholderTName" #n="ngModel" [disabled]="disabledAll">
						<ion-label stacked>Cost:<span class="red">*</span></ion-label>
						<input type="number" [(ngModel)]="spend" #s="ngModel" [disabled]="disabledAll">
						<p class="red" *ngIf="s.value > 9999.99">This app isn't meant for you</p>
				</div>
				<div class="row">
					<!-- <div class="col">
						<button class="btn-style">History</button>
					</div> -->
					<div class="col">
						<button class="btn-style" (click)="spendMoney()" [disabled]="n.value == '' || s.value < 0.01 || !s.value || s.value > 9999.99 || disabledAll">Spend</button>
					</div>
				</div>
			</div>
			<div *ngIf="active[1]">
				<span class="green small left-align">Bank Transaction:</span>
				<div class="line"></div>
				<div class="inputs">
					<ion-label stacked>Amount:</ion-label>
					<input type="number" [(ngModel)]="bank" #b="ngModel">
				</div>				
				<button class="btn-style" (click)="bankMoney()" [disabled]="b.value > amount || disabledAll">Bank</button>
				<p class="red" *ngIf="b.value > amount">You can't bank more money than you have</p>
			</div>
		</div>
	</div>
</div>