<div class="overlay">
	<ion-card>
		<ion-card-header class="purple-bg"><strong class="white center big">Banked:</strong></ion-card-header>					
		<div class="circle green-bg white">
			${{ banked | number: '1.2-2' }}
		</div>
		<div class="row">
			<div class="col">
				<button class="btn-style-alt center-btn" (click)="exit()">Cancel</button>				
			</div>
			<div class="col">
				<button class="btn-style center-btn" (click)="withdraw()">Withdraw</button>
			</div>			
		</div>		
	</ion-card>
</div>