bank-modal {
	.purple {
		font-size: 44px;
		font-weight: bold;
	}

	.cell {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	.table {
		display: table;
		height: 55vh;
		margin: 0 auto;
	}

	.center {
		text-align: center;
		padding: 10px 0px;
	}

	.big {
		font-family: $font;
		font-size: 36px;
	}

	.bg {
		background: $background no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;	
		height: 100%;
		width: 100%;
		padding: 35px 0px;
	}

	input {
		display: block;
		position: relative;
		bottom: 3px;
		right: 3px;
		font-size: 12px;
		color: #333;
		border: 1px solid rgb(123, 255, 206);
		background-color: white;
		border-radius: 10px;
		margin: 5px auto;
		padding: 2px 10px;
		width: 35%;
		text-align: center;
	}

	.row {
		margin-top: 25px;
	}

	.col {
		padding: 0 !important;
	}

	button {
		margin: 0 auto;
	}

	.label {
		font-size: 16px;
		color: $purple;
		text-align: center;
	}

	@media(min-width: 600px){
		.table {
			height: 20vh;
		}
	}

}
