<header class="purple-bg center"><strong class="white big">Banked:</strong></header>
<div class="bg">
	<div class="table">
		<div class="purple cell">
			${{ banked | number: '1.2-2' }}
		</div>
	</div>
	<p class="label">How much would you like to withdraw?</p>
	<input type="number" [(ngModel)]="withdraw" #w="ngModel">
	<div class="row">
		<div class="col">
			<button class="btn-style-alt" (click)="exit()">Cancel</button>	
		</div>
		<div class="col">
			<button class="btn-style" (click)="withdrawSpec()" [disabled]="w.value <= 0 || w.value > banked">Withdraw</button>
		</div>
	</div>
</div>