page-home {
	ion-content {
		background: $background no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;	
	}

	.main-content-container {
		position: relative;
		top: 20vh;
	}
}
