newbudget {

	.special-margin {
		margin: 0px 0px 10px 0px;
	}

	.container {
		width: 80%;
		margin: 0 auto;
		padding: 5px 0px;
		background-color: white;
		height: auto;
		border: $border;
		box-shadow: $box-shadow;
	}

	.label {
		float: left;
	}

	.money {
		float: right;
	}

	.errors {
		margin: 10px 0px 5px 0px;
	}
	
	.input-container {
		width: 80%;
		margin: 0 auto;
	}

	input[type="number"] {
		text-align: center;
		border: none;
		border-bottom: 1px solid $green;
		font-size: 24px;
		width: 80%;
		color: $green;
	}

	.dollarSize {
		font-size: 24px;
		color: $green;
		font-family: $font;
	}

	input[type="date"] {
		position: relative;
		left: 10%;
		text-align: right;
		width: auto;
		color: $green;
		font-size: 16px;
		border: none;
		border-bottom: 1px solid $green;
	}

	.green {
		text-align: center;
		color: $green;
		font-size: 24px;
	}
	.red {
		text-align: center;
		color: $red;
		font-size: 12px;
		margin: 5px auto;
	}

	.icon {
		width: 25px;
		margin: 0 auto;
	}

	.btn-style {
		margin: 20px auto 20px auto;
	}

	ion-item {
		border: none;
	}

	.datetime-text {
		background-color: $green;
		border-radius: 15px;
		padding: 5px 10px;
		color: white;
	}
}
