// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$purple: #af6ef2;
$green: #53eca6;
$red: #f1646e;

$font: 'Montserrat', sans-serif;
$background: url('../../assets/background.png');
$box-shadow: 4px 4px rgba(0,0,0,0.1);
$border: 1px solid #dfe0f4;

button {
		display: block;
		background-color: $green;
		
		padding: 5px;
		height: 25px;

		font-family: $font;
		font-size: 16px;
		letter-spacing: 2px;
		color: white;

		border-left: 5px solid $purple;
		box-shadow: 4px 4px rgba(0,0,0,0.1);
	}

/* Hides the scrollbar without removing ability to scroll */

div::-webkit-scrollbar {
  border: none;
  width: 0;
  background: rgba(0, 0, 0, 0);
}

div::-webkit-scrollbar-track {
  border: none;
  width: 0;
  background: rgba(0, 0, 0, 0);
}

div::-webkit-scrollbar-thumb {
  border: none;
  width: 0;
  background: rgba(0, 0, 0, 0);
}