budgo-button {
	.btn-style {
		display: block;
		background-color: $green;
		
		padding: 7px 5px;
		height: auto;

		font-family: $font;
		font-size: 16px;
		letter-spacing: 2px;
		color: white;

		border-left: 5px solid $purple;
		box-shadow: 4px 4px rgba(0,0,0,0.1);
	}
}
