page-new-budget {

	ion-content {
		background: $background no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;	
	}

	newbudget {
		display: table;
		height: 100vh;
		width: 80vw;
		margin: 0 auto;
	}

	@media(min-width: 600px){
		newbudget {
			width: 40vw;
		}
	}
	@media(min-width: 900px){
		newbudget {
			width: 30vw;
		}
	}
}
